
@font-face {
    font-family: 'automobileregular';
    src: url('../fonts/automobi-webfont.woff2') format('woff2'),
         url('../fonts/automobi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.automobile-font{
    font-family: 'automobileregular';
}
h1{
    font-size: 75px;
    font-weight: 700;
    line-height: 80px;
    font-family: 'Lexend Deca', sans-serif;
}
h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    font-family: 'Lexend Deca', sans-serif;
}
h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}
h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'Lexend Deca', sans-serif;
}
h5{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
h6{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Lexend Deca', sans-serif;
}
p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.special-text{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--primary--color);
}
.generic-btn a {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    padding: 26px 31px;
    display: inline-block;
    text-decoration: none;
    background: var(--accent);
    color: var(--white-color);
    transition: all 0.5s ease-in-out;
}
.generic-btn a:hover,
.service-btn a:hover,
.price-btn a:hover,
.see-btn a:hover,
.veiw-btn a:hover,
.submit-btn button:hover,
.social-icon ul li a i:hover{
    transform: translateY(-8px);
}
.generic-btn a:hover,
.veiw-btn a:hover,
.submit-btn button:hover{
    background: transparent;
    color: var(--secondary--color);
    box-shadow: inset 0 0 0px 2px var(--secondary--color);
}
.padding-top{
    padding-top: 160px;
}
.padding-bottom{
    padding-bottom: 160px;
}